.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  
  &__logo {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  &__radio {
    display: flex;
    font-size: 0.8rem;
    
    gap: 0.5rem;
    
    padding-right: 1rem;
  }

  &__button {
    display: none;
  }

  &__select {
    display: none;
  }

  &-light {
    background-color: $light-theme-color;
    border-bottom: 0.3rem solid $light-theme-color-border;
  }

  &-dark {
    background-color: $dark-theme-color;
    border-bottom: 0.3rem solid $dark-theme-color-border;
    color: $white-color;
  }

  &-grey {
    background-color: $grey-theme-color;
    border-bottom: 0.3rem solid $grey-theme-color-border;
    color: $white-color;
  }
}

@media screen and (max-width: $tablet-screen) {
  .header {
    &__radio {
      display: none;
    }

    &__button {
      display: flex;
      padding-right: 1rem;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: $phone-screen) {
  .header {
    &__button {
      display: none;
    }

    &__select {
      display: initial;
      padding-right: 1rem;
    }
  }
}
